@{
    string username = User.Identity.Name as string;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Price Signage</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://adminlte.io/themes/v3/dist/css/adminlte.min.css?v=3.2.0">

    <style>

        .navbar {
            background-color: #333;
            color: #fff;
        }

        .navbar-brand,
        .navbar-nav li a {
            color: #fff;
        }

            .navbar-nav li a:hover {
                color: #f00;
            }



        body {
            font-family: 'Poppins', sans-serif !important;
        }

        .bg-primarydark {
            background-color: #1C3766 !important;
        }

        .bg-dangerdark {
            background-color: #ad0909 !important;
        }

        .bg-primary1 {
            background-color: #182042 !important;
        }

        .active {
            color: black !important;
        }



        .btn-primary {
            background-color: #182042 !important;
            border-color: #182042 !important;
            color: white !important;
        }

            .btn-primary:hover {
                background-color: #1C3766 !important;
                border-color: #1C3766 !important;
                color: white;
            }
    </style>
</head>
<body class="sidebar-collapse">

    <div class="wrapper">
        <nav class="main-header navbar navbar-expand navbar-white navbar-light bg-white">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="@Url.Action("Logout","Account")" id="logoutLink" class="nav-link text-danger">
                        <i class="bi bi-box-arrow-left"></i>
                        Logout
                    </a>
                </li>
            </ul>
        </nav>
        <aside class="main-sidebar bg-primarydark elevation-4">
            <div class="sidebar">
                <div class="user-panel mt-3  d-flex">
                    <div class="image mr-2 ">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                        </svg>
                    </div>
                    <div class="">
                        <p class="text-bold text-white d-block mb-0">@username</p>
                    </div>
                </div>
                <hr class="bg-white">
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <li class="nav-item">
                            <a href="@Url.Action("PCA","STRPRC")" id="pcaLink" class="nav-link text-white">
                                <img style="width: 24px;" src="~/Content/Images/inventory.png" />
                                <p>
                                    PCA
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("UpdatedSTRPRC","STRPRC")" id="UpdatedSTRPRCsLink" class="nav-link text-white">
                                <img style="width: 24px;" src="~/Content/Images/changes.png" />
                                <p>
                                    SKU Updates
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("Index","STRPRC")" id="onDemandLink" class="nav-link text-white">
                                <img style="width: 22px;" src="~/Content/Images/printer.png" />
                                <p>
                                    On Demand Printing
                                </p>
                            </a>
                        </li>
                        @*@if (User.IsInRole("Administrator/Manager"))*@
                        <!--{-->
                            <!-- Registers -->
                            <!--<li class="nav-item has-treeview">
                                <a href="#" class="nav-link text-white">
                                    <img style="width: 24px;" src="~/Content/Images/register.png" />
                                    <p>
                                        Registers
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a href="@Url.Action("CountryIndex", "Registers")" id="countryLink" class="nav-link text-white">
                                            <img style="width: 16px;" src="~/Content/Images/country.png" />
                                            <p>
                                                Country
                                            </p>
                                        </a>
                                    </li>-->
                                    <!-- Add more submenu items if needed -->
                                <!--</ul>
                            </li>
                        }-->
                    </ul>
                </nav>
            </div>
        </aside>
        @RenderBody()
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
    <script src="https://adminlte.io/themes/v3/dist/js/adminlte.js?v=3.2.0"></script>

</body>
</html>
<script>
    $(document).ready(function () {
        // Get the current URL
        var currentUrl = window.location.href;

        // Loop through each <a> element inside the sidebar
        $(".nav-sidebar a").each(function () {
            
            // Get the href attribute of the <a> element
            var linkUrl = $(this).attr("href");
            // Check if the current URL matches the href attribute
            if (currentUrl.indexOf(linkUrl) !== -1) {
                $(this).closest("li a").addClass("active");
            }
        });
    });

</script>