@using PriceSignageSystem.Models.Dto;
@model STRPRCDto


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />

</head>
<body>
    @if (Model != null)
    {
        if (Model.O3SKU != 0)
        {
            using (Html.BeginForm("AutoPrintReport", "Report", FormMethod.Post, new { id = "reportForm" }))
            {
                @Html.HiddenFor(m => m.O3SKU)
                <div class="container">
                    <h2 class="text-center bg-primary text-white p-2">Item Details</h2>

                    <div class="row">
                        <div class="col-md-6">
                            <dl class="row">

                                <dt class="col-sm-4">@Html.LabelFor(m => m.O3UPC)</dt>
                                <dd class="col-sm-8">@Html.DisplayFor(m => m.O3UPC)</dd>

                                <dt class="col-sm-4">@Html.LabelFor(m => m.O3SKU)</dt>
                                <dd class="col-sm-8">@Html.DisplayFor(m => m.O3SKU)</dd>

                                <dt class="col-sm-4">@Html.LabelFor(m => m.O3IDSC)</dt>
                                <dd class="col-sm-8">@Html.DisplayFor(m => m.O3IDSC)</dd>

                                <dt class="col-sm-4">@Html.LabelFor(m => m.O3FNAM)</dt>
                                <dd class="col-sm-8">@Html.DisplayFor(m => m.O3FNAM)</dd>

                                <dt class="col-sm-4">@Html.LabelFor(m => m.O3MODL)</dt>
                                <dd class="col-sm-8">@Html.DisplayFor(m => m.O3MODL)</dd>

                                <dt class="col-sm-4">@Html.LabelFor(m => m.O3DEPT)</dt>
                                <dd class="col-sm-8">@Html.DisplayFor(m => m.O3DEPT)</dd>

                                <dt class="col-sm-4">@Html.LabelFor(m => m.O3SDPT)</dt>
                                <dd class="col-sm-8">@Html.DisplayFor(m => m.O3SDPT)</dd>

                                <dt class="col-sm-4">@Html.LabelFor(m => m.O3CLAS)</dt>
                                <dd class="col-sm-8">@Html.DisplayFor(m => m.O3CLAS)</dd>

                                <dt class="col-sm-4">@Html.LabelFor(m => m.O3SCLS)</dt>
                                <dd class="col-sm-8">@Html.DisplayFor(m => m.O3SCLS)</dd>

                                <dt class="col-sm-4">@Html.LabelFor(m => m.O3LONG)</dt>
                                <dd class="col-sm-8">@Html.DisplayFor(m => m.O3LONG)</dd>
                            </dl>
                        </div>

                        <div class="col-md-6">
                            <dl class="row">
                                <dt class="col-sm-4">@Html.LabelFor(m => m.O3SCCD)</dt>
                                <dd class="col-sm-8">@Html.DisplayFor(m => m.O3SCCD)</dd>

                                <dt class="col-sm-4">@Html.LabelFor(m => m.O3TRB3)</dt>
                                <dd class="col-sm-8">@Html.DisplayFor(m => m.O3TRB3)</dd>

                                <dt class="col-sm-4">@Html.LabelFor(m => m.O3REGU)</dt>
                                <dd class="col-sm-8">@Html.DisplayFor(m => m.O3REGU)</dd>

                                <dt class="col-sm-4">@Html.LabelFor(m => m.O3POS)</dt>
                                <dd class="col-sm-8">@Html.DisplayFor(m => m.O3POS)</dd>

                                <dt class="col-sm-4">@Html.LabelFor(m => m.O3SDT)</dt>
                                <dd class="col-sm-8">@Html.DisplayFor(m => m.O3SDT)</dd>

                                <dt class="col-sm-4">@Html.LabelFor(m => m.O3EDT)</dt>
                                <dd class="col-sm-8">@Html.DisplayFor(m => m.O3EDT)</dd>

                                <dt class="col-sm-4">@Html.LabelFor(m => m.O3SLUM)</dt>
                                <dd class="col-sm-8">@Html.DisplayFor(m => m.O3SLUM)</dd>

                                <dt class="col-sm-4">@Html.LabelFor(m => m.O3TUOM)</dt>
                                <dd class="col-sm-8">@Html.DisplayFor(m => m.O3TUOM)</dd>
                            </dl>
                        </div>
                    </div>

                    <hr />

                    <div class="container">
                        <div class="row mb-3">
                            <div class="col">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.SelectedTypeId, htmlAttributes: new { @class = "font-weight-bold" })
                                    @Html.DropDownListFor(m => m.SelectedTypeId, Model.Types ?? new List<SelectListItem>(), "Select Type", new { @class = "form-control form-control-sm custom-select" , style = "max-width: 150px;" })
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.SelectedSizeId, htmlAttributes: new { @class = "font-weight-bold" })
                                    @Html.DropDownListFor(m => m.SelectedSizeId, Model.Sizes ?? new List<SelectListItem>(), "Select Size", new { @class = "form-control form-control-sm custom-select" , style = "max-width: 150px;" })
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.SelectedCategoryId, htmlAttributes: new { @class = "font-weight-bold" })
                                    @Html.DropDownListFor(m => m.SelectedCategoryId, Model.Categories ?? new List<SelectListItem>(), "Select Category", new { @class = "form-control form-control-sm custom-select" , style = "max-width: 150px;" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col text-center">
                                <button type="button" class="btn btn-primary" onclick="openReportInNewTab()">Print</button>
                                <button type="button" class="queuebtn btn btn-secondary">Queue</button>
                                <button type="button" class="qListbtn btn btn-success" onclick="openQueueReportInNewTab()">Print Queue</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <p class="text-center text-muted">No data available.</p>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-auto">
                    <p class="text-center text-muted">No data available.</p>
                </div>
            </div>
        </div>
    }
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
</html>
<script>
    function openReportInNewTab() {
        var form = document.getElementById('reportForm');
        form.target = '_blank';
        form.submit();
    }
   
    function openQueueReportInNewTab() {
        var url = '/Queue/PrintQueueList';  
        window.open(url, '_blank');
    }

    $(document).ready(function () {
        $(".queuebtn").click(function () {
            var sizeId = $('#SelectedSizeId').val();
            var typeId = $('#SelectedTypeId').val();
            var categoryId = $('#SelectedCategoryId').val();
            var strprcDto = @Html.Raw(Json.Encode(Model));


            $.ajax({
                url: "/Queue/QueueItem",
                type: "POST",
                data: {
                    strprcDto: strprcDto,
                    sizeId: sizeId,
                    typeId: typeId,
                    categoryId: categoryId
                },
                success: function (result) {
                    console.log("Item queued successfully!");
                },
                error: function (xhr, status, error) {
                    console.error("Error queuing item: " + error);
                }
            });
        });

        $(".qListbtn").click(function () {
            $.ajax({
                url: "/Queue/PrintQueueList",
                type: "POST",
                success: function (result) {
                    console.log("Item(s) printed successfully!");
                },
                error: function (xhr, status, error) {
                    console.error("Error printing item: " + error);
                }
            });
        });

    });
</script>
