@using PriceSignageSystem.Models.Dto;
@model STRPRCDto


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />

</head>
<body>
    <iframe id="reportIframe" src="" style="display: none;"></iframe> @*For printing preview*@
    @using (Html.BeginForm("AutoPrintOnDemandReport", "Report", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.O3SKU)
        <div class="container">
            <h2 class="text-center bg-primarydark text-white p-2">Item Details</h2>

            <div class="row">
                <div class="col-md-6">
                    <dl class="row">

                        <dt class="col-sm-4">@Html.LabelFor(m => m.O3UPC)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(m => m.O3UPC)</dd>

                        <dt class="col-sm-4">@Html.LabelFor(m => m.O3SKU)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(m => m.O3SKU)</dd>

                        <dt class="col-sm-4">@Html.LabelFor(m => m.O3IDSC)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(m => m.O3IDSC)</dd>

                        <dt class="col-sm-4">@Html.LabelFor(m => m.O3FNAM)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(m => m.O3FNAM)</dd>

                        <dt class="col-sm-4">@Html.LabelFor(m => m.O3MODL)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(m => m.O3MODL)</dd>

                        <dt class="col-sm-4">@Html.LabelFor(m => m.O3DEPT)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(m => m.O3DEPT)</dd>

                        <dt class="col-sm-4">@Html.LabelFor(m => m.O3SDPT)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(m => m.O3SDPT)</dd>

                        <dt class="col-sm-4">@Html.LabelFor(m => m.O3CLAS)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(m => m.O3CLAS)</dd>

                        <dt class="col-sm-4">@Html.LabelFor(m => m.O3SCLS)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(m => m.O3SCLS)</dd>

                        <dt class="col-sm-4">@Html.LabelFor(m => m.O3LONG)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(m => m.O3LONG)</dd>
                    </dl>
                </div>

                <div class="col-md-6">
                    <dl class="row">
                        <dt class="col-sm-4">@Html.LabelFor(m => m.O3SCCD)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(m => m.O3SCCD)</dd>

                        <dt class="col-sm-4">@Html.LabelFor(m => m.O3TRB3)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(m => m.O3TRB3)</dd>

                        <dt class="col-sm-4">@Html.LabelFor(m => m.O3REGU)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(m => m.O3REGU)</dd>

                        <dt class="col-sm-4">@Html.LabelFor(m => m.O3POS)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(m => m.O3POS)</dd>

                        <dt class="col-sm-4">@Html.LabelFor(m => m.O3SDT)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(m => m.StartDateFormattedDate)</dd>

                        <dt class="col-sm-4">@Html.LabelFor(m => m.O3EDT)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(m => m.EndDateFormattedDate)</dd>

                        <dt class="col-sm-4">@Html.LabelFor(m => m.O3SLUM)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(m => m.O3SLUM)</dd>

                        <dt class="col-sm-4">@Html.LabelFor(m => m.O3TUOM)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(m => m.O3TUOM)</dd>

                        <dt class="col-sm-4">@Html.LabelFor(m => m.O3DIV)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(m => m.O3DIV)</dd>
                    </dl>
                </div>
            </div>

            <hr />
            @if (Model.O3SKU != 0)
            {
                <div class="container">
                    <div class="row mb-3 d-flex justify-content-center">
                        <div class="col-2">
                        </div>
                        <div class="col-8">
                            <div class="row">
                                <div class="col-4">
                                    <div class="form-group ">
                                        @Html.LabelFor(m => m.SelectedTypeId, htmlAttributes: new { @class = "font-weight-bold" })
                                        @Html.DropDownListFor(m => m.SelectedTypeId, Model.Types ?? new List<SelectListItem>(), "Select Type", new { @class = "form-control form-control-sm custom-select" })
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group ">
                                        @Html.LabelFor(m => m.SelectedSizeId, htmlAttributes: new { @class = "font-weight-bold" })
                                        @Html.DropDownListFor(m => m.SelectedSizeId, Model.Sizes ?? new List<SelectListItem>(), "Select Size", new { @class = "form-control form-control-sm custom-select" })
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group ">
                                        @Html.LabelFor(m => m.SelectedCategoryId, htmlAttributes: new { @class = "font-weight-bold" })
                                        @Html.DropDownListFor(m => m.SelectedCategoryId, Model.Categories ?? new List<SelectListItem>(), "Select Category", new { @class = "form-control form-control-sm custom-select" })
                                    </div>
                                </div>

                            </div>
                            <div class="d-flex justify-content-center">
                                <button type="button" class="newPrint btn btn-primary mr-1">Print</button>
                                <button type="button" class="queuebtn btn btn-warning mr-1">Queue</button>
                                <button type="button" class="qListbtn btn btn-success mr-1">Print Queue</button>
                            </div>
                        </div>
                        <div class="col-2">
                        </div>
                    </div>

                    <div class="row">
                        
                    </div>
                </div>
            }

        </div>
    }
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
<script>
    //function openReportInNewTab() {
    //    var form = document.getElementById('reportForm');
    //    form.target = '_blank';
    //    form.submit();
    //}

    function openQueueReportInNewTab() {
        var url = '/Queue/PrintQueueList';
        window.open(url, '_blank');
    }

    $(document).ready(function () {

        $(".newPrint").click(function () {
            var reportDto = {
                O3SKU: @Model.O3SKU,
                SizeId: 0,
                TypeId: 0,
                CategoryId: 0
            };

            reportDto.TypeId = $('#SelectedTypeId').val();
            reportDto.CategoryId = $('#SelectedCategoryId').val();
            reportDto.SizeId= $('#SelectedSizeId').val();
            $("#reportIframe").attr("src", "/Report/PrintPreviewSingleReport?response=" + JSON.stringify(reportDto));

            var reportIframe = document.getElementById("reportIframe");
            if (reportIframe) {
                reportIframe.onload = function () {
                    reportIframe.contentWindow.print();
                };
                reportIframe.src = $("#reportIframe").attr("src");
            }
        });

        $(".queuebtn").click(function () {
            var sizeId = $('#SelectedSizeId').val();
            var typeId = $('#SelectedTypeId').val();
            var categoryId = $('#SelectedCategoryId').val();
            var strprcDto = @Html.Raw(Json.Encode(Model));


            $.ajax({
                url: "/Queue/QueueItem",
                type: "POST",
                data: {
                    strprcDto: strprcDto,
                    sizeId: sizeId,
                    typeId: typeId,
                    categoryId: categoryId
                },
                success: function (result) {
                    // Show success modal
                    var modalHtml = '<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">';
                    modalHtml += '<div class="modal-dialog" role="document">';
                    modalHtml += '<div class="modal-content">';
                    modalHtml += '<div class="modal-header">';
                    modalHtml += '<h5 class="modal-title" id="successModalLabel">Success!</h5>';
                    modalHtml += '<button type="button" class="close" data-dismiss="modal" aria-label="Close">';
                    modalHtml += '<span aria-hidden="true">&times;</span>';
                    modalHtml += '</button>';
                    modalHtml += '</div>';
                    modalHtml += '<div class="modal-body">';
                    modalHtml += 'Item queued successfully!';
                    modalHtml += '</div>';
                    modalHtml += '<div class="modal-footer">';
                    modalHtml += '<button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>';
                    modalHtml += '</div>';
                    modalHtml += '</div>';
                    modalHtml += '</div>';
                    modalHtml += '</div>';

                    $('body').append(modalHtml);
                    $('#successModal').modal('show');
                },
                error: function (xhr, status, error) {
                    console.error("Error queuing item: " + error);
                }
            });
        });

         //PRINT BUTTON
        $('.qListbtn').click(function () {
                $.ajax({
                    url: '@Url.Action("GetAllSizes", "STRPRC")' ,
                    type: 'POST',
                    success: function (response) {
                        // Create the dropdown options
                        var sizeOptions = '';

                        // Populate dropdown options from the server response
                        for (var i = 0; i < response.length; i++) {
                            var option = response[i];
                            sizeOptions += '<option value="' + option.Id + '">' + option.Name + '</option>';
                        }

                        // Build the HTML for the dropdowns
                        var dropdownHtml = '<div class="form-row">' +
                            '<div class="form-group row col-12">' +
                            '<label class="col-sm-2 col-form-label" for="sizeDropdown">Size:</label>' +
                            '<select class="col-sm-9  ml-3 form-control" id="sizeDropdown" >' +
                            sizeOptions +
                            '</select>' +
                            '</div>';

                        // Build the HTML for the print button
                        var printButtonHtml = '<button id="printQueueButton" class="btn btn-primary">Print</button>';

                        // Create the modal content
                        var modalContent = '<div class="modal-dialog modal-sm modal-dialog-centered">' +
                            '<div class="modal-content">' +
                            '<div class="modal-header">' +
                            '<h5 class="modal-title">Print Queue Report</h5>' +
                            '<button type="button" class="close" data-dismiss="modal" aria-label="Close">' +
                            '<span aria-hidden="true">&times;</span>' +
                            '</button>' +
                            '</div>' +
                            '<div class="modal-body">' +
                            dropdownHtml +
                            '</div>' +
                            '<div class="modal-footer">' +
                            printButtonHtml +
                            '</div>' +
                            '</div>' +
                            '</div>';

                        // Remove any existing modals
                        $('#modalView').remove();

                        // Append the modal to the body
                        $('body').append('<div id="modalView" class="modal">' + modalContent + '</div>');

                        // Show the modal with fade-in effect from top
                        $('#modalView').modal({
                            show: true,
                            backdrop: false,
                            keyboard: false
                        });

                        $('#printQueueButton').click(function () {
                            var selectedSize = $('#sizeDropdown').val();
                            var url = '@Url.Action("CheckItemQueuesPerUser", "Queue")';
                            $.ajax({
                                url: url,
                                type: 'POST',
                                data: { sizeId: selectedSize },
                                success: function (response) {
                                    if (response.success) {
                                        $('#modalView').modal('hide');
                                        $("#reportIframe").attr("src", "/Queue/PrintPreviewQueueReport?sizeId=" + selectedSize + "");
                                        var reportIframe = document.getElementById("reportIframe");
                                        if (reportIframe) {
                                            reportIframe.onload = function () {
                                                reportIframe.contentWindow.print();
                                            };
                                            reportIframe.src = $("#reportIframe").attr("src");
                                        }
                                    } else {
                                        $('#modalView').modal('hide');
                                        // Show success modal
                                        var modalHtml = '<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">';
                                        modalHtml += '<div class="modal-dialog" role="document">';
                                        modalHtml += '<div class="modal-content">';
                                        modalHtml += '<div class="modal-header">';
                                        modalHtml += '<h5 class="modal-title" id="errorModalLabel">Error!</h5>';
                                        modalHtml += '<button type="button" class="close" data-dismiss="modal" aria-label="Close">';
                                        modalHtml += '<span aria-hidden="true">&times;</span>';
                                        modalHtml += '</button>';
                                        modalHtml += '</div>';
                                        modalHtml += '<div class="modal-body">';
                                        modalHtml += 'PLEASE QUEUE A PRODUCT FIRST.';
                                        modalHtml += '</div>';
                                        modalHtml += '<div class="modal-footer">';
                                        modalHtml += '<button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>';
                                        modalHtml += '</div>';
                                        modalHtml += '</div>';
                                        modalHtml += '</div>';
                                        modalHtml += '</div>';

                                        $('body').append(modalHtml);
                                        $('#errorModal').modal('show');
                                    }
                                },
                                error: function (xhr, status, error) {
                                }
                            });

                        });
                    }
                });
        });

        // Close the modal when the modal close button is clicked
        $(document).on('click', '.modal .close', function () {
            $('#modalView').modal('hide');
        });

        // Remove the modal from the DOM when it is hidden
        $(document).on('hidden.bs.modal', '.modal', function () {
            $(this).remove();
        });
    });
</script>
