
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PCA</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/select/1.3.3/css/select.dataTables.min.css">
    <style>
        td.details-control {
            text-align: center;
            color: #6396fd;
            cursor: pointer;
        }

        tr.shown td.details-control {
            text-align: center;
            color: #fd6363;
        }

        th.no-sort::after {
            display: none !important;
        }
    </style>
</head>

<body>
    <iframe id="reportIframe" src="" style="display: none;"></iframe> @*For printing preview*@

    <div class="content-wrapper bg-white px-3">
        <br />
        <div class="content">
            <div class="overlay-wrapper" id="loadingContainer" style="display:none;">
                <div class="overlay" style="background-color: rgba(0, 0, 0, 0.59); z-index: 99;">
                    <img class="" src="~/Content/Images/loading.gif" alt="Loading" style="max-width:350px;" />
                </div>
            </div>
        </div>
        <center>
            @if (ViewBag.IsDateLatest == true)
            {
                <div class="alert alert-success">
                    <i class="fa fa-check-circle"></i>  The current data is as of <u>@ViewBag.DateVersion</u>
                    <a id="updateButton" href="#" class="ml-2 mt-2 btn btn-secondary text-bold btn-sm">
                        Update
                    </a>
                </div>
            }
            else
            {
                <div class="alert alert-warning">
                    <i class="fa fa-exclamation-triangle"></i> The current data is as of <u>@ViewBag.DateVersion</u>
                    <a id="updateButton" href="#" class="ml-2 mt-2 btn btn-secondary text-bold btn-sm">
                        Update
                    </a>
                </div>
            }

        </center>
        <br />
        <div class="row">
            <div class="card elevation-3 px-0 ">
                <div class="card-header bg-primary1 text-white">
                    <h3 class="card-title">PCA</h3>
                </div>
                <div class="card-body row mx-auto">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="startDate">Start Date:</label>
                            <input type="text" id="startDate" name="startDate" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="endDate">End Date:</label>
                            <input type="text" id="endDate" name="endDate" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="text-white">Search</label>
                        <button id="searchBtn" class="btn btn-primary btn-block">Search</button>
                    </div>
                </div>
                <hr />
                <div class="card-body table-responsive">
                    <table id="dataTable" class="table table-sm table-hover" style="width:100%">
                        <thead style="background-color: #1C3766;" class="text-white">
                            <tr>
                                <th><input type="checkbox" id="selectAll" /></th>
                                <th></th>
                                <th>SKU</th>
                                <th>UPC</th>
                                <th style="width: 200px; " class="text-nowrap">Item Desc.</th>
                                <th>Reg Price</th>
                                <th>Current Price</th>
                                <th>Date Start</th>
                                <th>Date End</th>
                                <th>Type</th>
                                <th>Size</th>
                                <th>Category</th>
                                <th><button class="printAllBtn btn btn-secondary px-3">Print Selected</button></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="13" style="text-align: center;">Please enter dates</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/select/1.3.3/js/dataTables.select.min.js"></script>
</body>
</html>

<script>
        //var $j = jQuery.noConflict();

    $(document).ready(function () {
        $("#updateButton").click(function () {
            $("#loadingContainer").show();

            $.ajax({
                url: "/STRPRC/UpdateSTRPRCData",
                type: "POST",
                success: function (response) {

                    window.location.href = "/STRPRC/SearchByDate";
                },
                error: function (error) {

                    $("#loadingContainer").hide();
                }
            });

            return false;
        });

            $("#startDate").datepicker({
                dateFormat: 'yy-mm-dd'
            });
            $("#endDate").datepicker({
                dateFormat: 'yy-mm-dd'
            });

            var table = null;
            $("#searchBtn").click(function () {
                var startDate = $("#startDate").val();
                var endDate = $("#endDate").val();

                $.ajax({
                    url: '@Url.Action("GetDataByDate", "STRPRC")',
                    type: 'POST',
                    data: { startDate: startDate, endDate: endDate },
                    success: function (data) {

                        if (table !== null) {
                            table.destroy();
                        }
                         // DATATABLE
                         table = $('#dataTable').DataTable({
                             scrollY: 500,
                             scrollX: true,
                             scroller: true,
                             lengthMenu: [
                                 [10, 25, 50, -1],
                                 [10, 25, 50, 'All']
                             ],
                             pageLength: -1,
                             data: data,
                             columnDefs: [
                                 { targets: [0, 1, 12], orderable: false },
                             ],
                             columns: [
                                 {
                                     data: null, orderable: false, searchable: false, render: function (data) {
                                         return '<input type="checkbox" class="rowCheckbox" data-id="' + data.O3SKU + '">';
                                     }
                                 },
                                 {
                                     "className": 'details-control',
                                     "orderable": false,
                                     "data": null,
                                     "defaultContent": '',
                                     "render": function () {
                                         return '<i class="fa-solid fa-square-caret-down"></i>';
                                     },
                                     width: "15px"
                                 },
                                 { data: 'O3SKU', name: 'O3SKU', width: '100px' },
                                 { data: 'O3UPC', name: 'O3UPC', width: '100px' },
                                 { data: 'O3IDSC', name: 'O3IDSC', className: 'text-nowrap', width: '200px' },
                                 { data: 'O3REGU', name: 'O3REGU', width: '100px' },
                                 { data: 'O3POS', name: 'O3POS', width: '100px' },
                                 { data: 'O3SDT', name: 'O3SDT', width: '100px' },
                                 { data: 'O3EDT', name: 'O3EDT', width: '100px' },
                                 { data: 'TypeName', name: 'TypeName', width: '100px' },
                                 { data: 'SizeName', name: 'SizeName', width: '100px' },
                                 { data: 'CategoryName', name: 'CategoryName', width: '100px' },
                                 {
                                    data: null,
                                    render: function (data, type, row) {
                                        return '<button class="printBtn btn btn-primary btn-sm" data-id="' + data.O3SKU + '">Print</button>';
                                    }
                                 }
                             ],
                         });

                        $('#selectAll').on('change', function () {
                            var isChecked = $(this).is(':checked');
                            $('.rowCheckbox').prop('checked', isChecked);
                        });

                        $('.printAllBtn').on('click', function () {
                            var selectedRows = [];
                            $('.rowCheckbox:checked').each(function () {
                                var rowId = $(this).data('id');
                                selectedRows.push(rowId);
                            });

                            if (selectedRows.length > 0) {
                                console.log('Selected Row IDs:', selectedRows);

                                // Build the HTML for the dropdowns
                                var dropdownHtml = '<div class="form-row">' +
                                    '<div class="form-group row col-12">' +
                                    '<label class="col-sm-2 col-form-label" for="sizeDropdown">Size:</label>' +
                                    '<select class="col-sm-9  ml-3 form-control" id="sizeDropdown">' +
                                    '<option value="1">Whole</option>' +
                                    '<option value="2">Skinny</option>' +
                                    '<option value="3">1/8</option>' +
                                    '<option value="4">Jewelry</option>' +
                                    '</select>' +
                                    '</div>' +
                                    '</div>';
                                // Build the HTML for the print button
                                var printButtonHtml = '<button id="printSelectedButton" class="btn btn-primary">Print</button>';

                                // Create the modal content
                                var modalContent = '<div class="modal-dialog modal-sm modal-dialog-centered">' +
                                    '<div class="modal-content">' +
                                    '<div class="modal-header">' +
                                    '<h5 class="modal-title">Print Report</h5>' +
                                    '<button type="button" class="close" data-dismiss="modal" aria-label="Close">' +
                                    '<span aria-hidden="true">&times;</span>' +
                                    '</button>' +
                                    '</div>' +
                                    '<div class="modal-body">' +
                                    dropdownHtml +
                                    '</div>' +
                                    '<div class="modal-footer">' +
                                    printButtonHtml +
                                    '</div>' +
                                    '</div>' +
                                    '</div>';
                                // Remove any existing modals
                                $('#modalView').remove();

                                // Append the modal to the body
                                $('body').append('<div id="modalView" class="modal">' + modalContent + '</div>');

                                // Show the modal with fade-in effect from top
                                $('#modalView').modal({
                                    show: true,
                                    backdrop: false,
                                    keyboard: false
                                });

                                // Set default values for the dropdowns
                                $('#sizeDropdown').val(1);

                                @*//Start for auto printing multiple report
                                // PRINT MULTIPLE
                                $('#printSelectedButton').click(function () {
                                    var sizeId = $('#sizeDropdown').val();
                                    var typeId = $('#typeDropdown').val();
                                    var categoryId = $('#categoryDropdown').val();

                                    $.ajax({
                                        url: '@Url.Action("AutoPrintMultipleReport", "Report")',
                                        type: 'POST',
                                        data: { selectedIds: selectedRows, sizeId : sizeId, typeId: typeId, categoryId: categoryId },
                                        success: function (result) {
                                            $('#modalView').modal('hide');

                                        },
                                        error: function (xhr, status, error) {
                                            console.error("Error queuing item: " + error);
                                        }

                                    });
                                });
                                //End for auto printing multiple report*@

                                //Start for print preview multiple report
                                // PRINT MULTIPLE
                                $('#printSelectedButton').click(function () {
                                    var sizeId = $('#sizeDropdown').val();

                                    $("#reportIframe").attr("src", "/Report/PrintPreviewMultipleReport?selectedIds=" + selectedRows + "&sizeId=" + sizeId +"");

                                    var reportIframe = document.getElementById("reportIframe");
                                    if (reportIframe) {
                                        reportIframe.onload = function () {
                                            reportIframe.contentWindow.print();
                                        };
                                        reportIframe.src = $("#reportIframe").attr("src");
                                    }
                                });
                                //End for print preview multiple report


                            } else {
                                alert('Please select items to print.');
                            }
                        });

                        // Add event listener for opening and closing details
                        $('#dataTable tbody').on('click', 'td.details-control', function () {

                            var tr = $(this).closest('tr');
                            var tdi = tr.find("i.fa-solid");
                            var row = table.row(tr);

                            if (row.child.isShown()) {
                                // This row is already open - close it
                                row.child.hide();
                                tr.removeClass('shown');
                                tdi.first().removeClass('fa-solid fa-square-caret-up');
                                tdi.first().addClass('fa-solid fa-square-caret-down');
                            }
                            else {
                                // Open this row
                                row.child(format(row.data())).show();
                                tr.addClass('shown');
                                tdi.first().removeClass('fa-solid fa-square-caret-down');
                                tdi.first().addClass('fa-solid fa-square-caret-up');
                            }
                        });

                    }
                });
            });


            //PRINT BUTTON
            $('#dataTable').on('click', '.printBtn', function () {
                var rowId = $(this).data('id');

                $.ajax({
                    url: '@Url.Action("GetDataBySKU", "STRPRC")' ,
                    type: 'POST',
                    data: { id: rowId },
                    success: function (response) {

                        // Create the dropdown options
                        var sizeOptions = '';
                        var typeOptions = '';
                        var categoryOptions = '';

                        // Populate dropdown options from the server response
                        for (var i = 0; i < response.SizeArray.length; i++) {
                            var option = response.SizeArray[i];
                            sizeOptions += '<option value="' + option.Id + '">' + option.Name + '</option>';
                        }
                        for (var i = 0; i < response.TypeArray.length; i++) {
                            var option = response.TypeArray[i];
                            typeOptions += '<option value="' + option.Id + '">' + option.Name + '</option>';
                        }
                        for (var i = 0; i < response.CategoryArray.length; i++) {
                            var option = response.CategoryArray[i];
                            categoryOptions += '<option value="' + option.Id + '">' + option.Name + '</option>';
                        }

                        // Build the HTML for the dropdowns
                        var dropdownHtml = '<div class="form-row">' +
                            '<div class="form-group row col-12">' +
                            '<label class="col-sm-2 col-form-label" for="sizeDropdown">Size:</label>' +
                            '<select class="col-sm-9  ml-3 form-control" id="sizeDropdown" >' +
                            sizeOptions +
                            '</select>' +
                            '</div>' +
                            '<div class="form-group row col-md-12">' +
                            '<label class="col-sm-2 col-form-label" for="typeDropdown">Type:</label>' +
                            '<select class="col-sm-9  ml-3 form-control" id="typeDropdown">' +
                            typeOptions +
                            '</select>' +
                            '</div>' +
                            '</div>' +
                            '<div class="form-row">' +
                            '<div class="form-group row col-md-12">' +
                            '<label class="col-sm-2 col-form-label" for="categoryDropdown">Category:</label>' +
                            '<select class="col-sm-9  ml-3 form-control" id="categoryDropdown">' +
                            categoryOptions +
                            '</select>' +
                            '</div>' +
                            '</div>';

                        // Build the HTML for the print button
                        var printButtonHtml = '<button id="printButton" class="btn btn-primary">Print</button>';

                        // Create the modal content
                        var modalContent = '<div class="modal-dialog modal-dialog-centered">' +
                            '<div class="modal-content">' +
                            '<div class="modal-header">' +
                            '<h5 class="modal-title">Print Report</h5>' +
                            '<button type="button" class="close" data-dismiss="modal" aria-label="Close">' +
                            '<span aria-hidden="true">&times;</span>' +
                            '</button>' +
                            '</div>' +
                            '<div class="modal-body">' +
                            dropdownHtml +
                            '</div>' +
                            '<div class="modal-footer">' +
                            printButtonHtml +
                            '</div>' +
                            '</div>' +
                            '</div>';

                        // Remove any existing modals
                        $('#modalView').remove();

                        // Append the modal to the body
                        $('body').append('<div id="modalView" class="modal">' + modalContent + '</div>');

                        // Show the modal with fade-in effect from top
                        $('#modalView').modal({
                            show: true,
                            backdrop: false,
                            keyboard: false
                        });

                        // Set default values for the dropdowns
                        $('#sizeDropdown').val(response.SizeId);
                        $('#typeDropdown').val(response.TypeId);
                        $('#categoryDropdown').val(response.CategoryId);


                        @*//Start for auto printing single report
                        // Print button click event handler
                        $('#printButton').click(function () {
                            response.SelectedSizeId = $('#sizeDropdown').val();
                            response.SelectedTypeId = $('#typeDropdown').val();
                            response.SelectedCategoryId = $('#categoryDropdown').val();

                            var url = '@Url.Action("AutoPrintSingleReport", "Report")';
                            var serializedResponse = JSON.stringify(response);

                            $.ajax({
                                url: url,
                                type: 'POST',
                                data: { response: serializedResponse },
                                success: function () {
                                    $('#modalView').modal('hide');
                                },
                                error: function () {
                                }
                            });
                        });
                        //End for auto printing single report*@


                        //Start for print preview single report
                        // Print button click event handler
                        $('#printButton').click(function () {
                            response.SizeId = $('#sizeDropdown').val();
                            response.TypeId = $('#typeDropdown').val();
                            response.CategoryId = $('#categoryDropdown').val();
                            $("#reportIframe").attr("src", "/Report/PrintPreviewSingleReport?response=" + JSON.stringify(response));

                            var reportIframe = document.getElementById("reportIframe");
                            if (reportIframe) {
                                reportIframe.onload = function () {
                                    reportIframe.contentWindow.print();
                                };
                                reportIframe.src = $("#reportIframe").attr("src");
                            }
                        });
                        //End for print preview single report
                    }
                });
            });

            // Close the modal when the modal close button is clicked
            $(document).on('click', '.modal .close', function () {
                $('#modalView').modal('hide');
            });

            // Remove the modal from the DOM when it is hidden
            $(document).on('hidden.bs.modal', '.modal', function () {
                $(this).remove();
            });

    });

        document.addEventListener("DOMContentLoaded", function () {
            var today = new Date();
            var tomorrow = new Date(today);
            tomorrow.setDate(tomorrow.getDate() + 1);
            var formattedDate = tomorrow.toISOString().split('T')[0];
            document.getElementById('startDate').value = formattedDate;
            document.getElementById('endDate').value = formattedDate;

        });

    function format(d) {
            // `d` is the original data object for the row
            return '<div class="row">' +
                '<div class="col-6">' +
                '<form>' +
                '<div class="form-row">' +
                '   <div class="form-group col">' +
                '       <label>Brand:</label>' +
                '       <span>' + d.O3FNAM + '</span>' +
                '   </div>' +
                '  <div class="form-group col">' +
                '       <label>Model:</label>' +
                '       <span>' + d.O3MODL + '</span>' +
                '   </div>' +
                '</div>' +
                '<div class="form-row">' +
                '   <div class="form-group col">' +
                '       <label>Dept:</label>' +
                '       <span>' + d.O3DEPT + '</span>' +
                '   </div>' +
                '   <div class="form-group col">' +
                '       <label>Sub-Dept:</label>' +
                '       <span>' + d.O3SDPT + '</span>' +
                '   </div>' +
                '</div>' +
                '<div class="form-row">' +
                '   <div class="form-group col">' +
                '       <label>Class:</label>' +
                '       <span>' + d.O3CLAS + '</span>' +
                '   </div>' +
                '   <div class="form-group col">' +
                '       <label>Sub-Class:</label>' +
                '       <span>' + d.O3SCLS + '</span>' +
                '   </div>' +
                '</div>' +
                '<div class="form-row">' +
                '   <div class="form-group col">' +
                '       <label>Status:</label>' +
                '       <span>' + d.O3SCCD + '</span>' +
                '   </div>' +
                '   <div class="form-group col">' +
                '       <label>Country:</label>' +
                '       <span>' + d.O3TRB3 + '</span>' +
                '   </div>' +
                '</div>' +
                '<div class="form-row">' +
                '   <div class="form-group col">' +
                '       <label>Long Desc:</label>' +
                '       <span>' + d.O3LONG + '</span>' +
                '   </div>' +
                '</div>' +
                '</form>' +
                '</div>' +
                '<div class="col-6">' +
                @*'<iframe src="@Url.Action("PreviewReport", "Report")#toolbar=0&navpanes=0&scrollbar=0&zoom=50" style="width: 100%; height: 300px;" frameborder="0"></iframe>' +*@
                '<iframe src="@Url.Action("PreviewCrystalReport", "Report")?id=' + d.O3SKU + '#toolbar=0&navpanes=0&scrollbar=0&zoom=50" style="width: 100%; height: 300px;" frameborder="0"></iframe>' +
                '</div>'
                '</div>';
    }
</script>
